librosa
kokoro
soundfile
sounddevice
torch
torchaudio
torchvision
# transformers<4.41
transformers
IPython
scipy
numpy
gradio
# bitsandbytes
# flash-attn
google-genai
notebook
ipywidgets
semantic_text_splitter

peft
backoff

pytest
